<!-- about.ejs  -->
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<div class="about content">
    <h2> About This App </h2>
    <p>I have developed a simple blog application that utilizes the power of Express, follows the Model-View-Controller (MVC) architectural pattern, and integrates with MongoDB as the backend database.
        This blog app allows users to create, read and delete blog posts. The Express framework handles routing and manages HTTP requests and responses. The MVC pattern ensures a clear separation of concerns, with the model layer responsible for interacting with the MongoDB database to handle data storage and retrieval.
        The view layer renders dynamic HTML templates, providing a user-friendly interface to interact with the blog content. The controller layer acts as the intermediary, processing user requests, updating the model, and rendering the appropriate views.
        With MongoDB as the backend database, the blog app efficiently stores and manages the blog posts. MongoDB's flexible document-oriented structure allows for seamless integration with the application. It simplifies data manipulation and retrieval, ensuring a smooth and efficient user experience.
        By combining Express, MVC, and MongoDB, this blog app showcases my ability to build web applications with structured code organization, effective database integration, and seamless handling of user requests. It serves as a demonstration of my understanding and implementation of these key concepts in web development.
        Feel free to explore the functionality of this simple blog app in my portfolio.</p>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>